<div>
  <div>
    Is it a pokemon?
  </div>

  <div>
    <%= @question.name %>
  </div>

  <div class="flex">
    <%= button_to "Yes", responses_path, params: { response: { question: @question, response: "Yes" } } %>
    <%= button_to "No", responses_path, params: { response: { question: @question, response: "No" } } %>
  </div>
</div>
