<%= turbo_frame_tag :body do %>
  <div class="flex flex-col gap-12 items-center content-center justify-between text-center">
    <div class="text-9xl">
      <%= @question.name %>
    </div>

    <div class="flex gap-8">
      <%= button_to "Yes", question_responses_path,
        params: { response: { question: @question, response: "Yes" } },
        class: "button button--yes" %>
      <%= button_to "No", question_responses_path,
        params: { response: { question: @question, response: "No" } },
        class: "button button--no" %>
    </div>
  </div>
<% end %>
